.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Navigation Styling */
.navbar {
  display: flex;
  justify-content: space-between; /* Items are evenly distributed in the line with equal space around them */
  align-items: center;
  padding: 1.25rem;
  background-color: #c0c0c0;
  height: 5rem; /* Adjust this based on the height of your navbar */
}

.navbar__logo,
.product__name {
  display: flex;
  align-items: center; /* Vertically aligns the logo and product name */
}

.navbar__logo {
  margin-right: 1.25rem; /* Creates a space between the logo and the product name */
}

.navbar__logo img {
  height: 100%; /* Make the image fill its parent's height */
  object-fit: contain; /* This will prevent the image from being stretched */
}

.product__name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  gap: 1.25rem;
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
}

/* Footer Styling */
footer {
    background-color: #c0c0c0;
    color: #333;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-top: auto;
  }

footer p {
    margin: 0;
}

/* Landing Page Styling */
.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #4b2e83;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.husky-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.welcoming-message {
  color: #ffffff;
  font-family: "Encode Sans-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.login-button {
  background-color: #c0c0c0;
  color: #4b2e83;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #a9a9a9;
}

/* About Page Styling */
.about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  background-color: #4b2e83;
  color: white;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.about-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section-content {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
